{
  "GUILD_IDS": [
    YOUR_GUILD_ID
  ],
  "DISCORD_TOKEN": YOUR_DISCORD_TOKEN,
  "PERMISSIONS": YOUR_PERMISSIONS,
  "APPLICATION_ID": YOUR_APPLICATION_ID,
  "OWNERS": [
    YOUR_USER_ID
  ],
  "CLICKUP_CLIENT_ID": YOUR_CLICKUP_CLIENT_ID,
  "CLICKUP_CLIENT_SECRET": YOUR_CLICKUP_CLIENT_SECRET,
  "CLICKUP_REDIRECT_URL": YOUR_CLICKUP_REDIRECT_URL,
  "CLICKUP_API_URL": YOUR_CLICKUP_API_URL,
  "CLICKUP_AUTH_URL": YOUR_CLICKUP_AUTH_URL,
  "TOKEN_TYPE": YOUR_TOKEN_TYPE,
}
